nav {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: black;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
a:hover{
    color: #ff6347;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
    }
}